@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.Extensions.Localization
@using Atlas_Monitoring_Web.Locales
@inject AuthenticationStateProvider AuthStateProvider
@inject ProtectedSessionStorage ProtectedSessionStorage

<div class="page">
    <NavMenu />

    <main>
        <div class="top-row px-4">
            <CultureSelector />
            <Button Color="ButtonColor.Danger" @onclick="LogOut">@localizer["Logout"]</Button> 
            @* <a href="https://www.paulin-buland.fr" target="_blank">@localizer["AboutAuthor"]</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<Toasts class="p-3" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />
<Preload LoadingText=@localizer["Loading"] />

@code{
    private async Task LogOut()
    {
        await ProtectedSessionStorage.DeleteAsync("token");
        await ProtectedSessionStorage.DeleteAsync("username");

        await AuthStateProvider.GetAuthenticationStateAsync();

        NavigationManager.NavigateTo("/login", true);
    }
}